<p class="navbar-text float-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>


<div style = "margin-top = "50px">
<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel" data-interval="5000">
<ol class="carousel-indicators">
<li data-target="#carousel" data-slide-to="0" class=""></li>
<li data-target="#carousel" data-slide-to="1" class=""></li>
<li data-target="#carousel" data-slide-to="2" class="active"></li>
</ol>
<div class="carousel-inner" role="listbox">
<div class="carousel-item">
<a href="https://bootstrapcreative.com/">

<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/#007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familiaLatina.jpg" , class: "img" %></div>
</picture>

</a>
</div>

<div class="carousel-item">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familyPhoto.jpg", class: "img" %></div>
</picture>
</a>
</div>

<div class="carousel-item active">
<a href="https://bootstrapcreative.com/">
<picture>
<source srcset="https://dummyimage.com/2000x500/007aeb/4196e5" media="(min-width: 1400px)">
<source srcset="https://dummyimage.com/1400x500/007aeb/4196e5" media="(min-width: 769px)">
<source srcset="https://dummyimage.com/800x500/007aeb/4196e5" media="(min-width: 577px)">
<div srcset="https://dummyimage.com/600x500/007aeb/4196e5" alt="responsive image" class="d-block img-fluid"><%= link_to image_tag "familia.jpg" , class: "img"%></div>
</picture>
</a>
</div>


 
<div class="row">




    <div class ="col-md-3" style = " margin-top: 5%;">
    <div class="grid one post-16656 post type-post status-publish format-standard has-post-thumbnail hentry category-canada-available-countries category-espanol category-free-shipping category-functional-food category-nutrition category-nutrition-and-wellness category-plant-based category-prices category-united-states category-weight-loss category-zeal-for-life-2 category-zeal-for-life-products tag-auto-shipment tag-canada tag-canister-blast-off tag-free-shipping tag-gluten-free-supplements tag-glutenfree tag-health tag-healthy-food tag-healthy-lifestyle tag-kosher tag-nutrition tag-plant-based tag-puerto-rico tag-usa tag-vegan tag-zeal-canister-sale tag-zeal-drink tag-zeal-for-life tag-zeal-for-life-drink tag-zeal-for-life-in-canada tag-zeal-products tag-zeal-supplement tag-zurvita-customer">
    <div class="featured-image">
        <div class="preview">
            <a href="https://healthroads.net/2019/01/06/zeal-for-life-canister-for-39-95-free-shipping/" title="Permalink to Zeal For Life Canister for $39.95 + FREE&nbsp;SHIPPING!" rel="bookmark">
            <img src="https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=155&amp;h=110&amp;crop=1" class="attachment-suburbia-thumbnail size-suburbia-thumbnail wp-post-image" alt="" srcset="https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=155&amp;h=110&amp;crop=1 155w, https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=310&amp;h=220&amp;crop=1 310w, https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=150&amp;h=106&amp;crop=1 150w, https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=300&amp;h=213&amp;crop=1 300w" sizes="(max-width: 155px) 100vw, 155px" data-attachment-id="16658" data-permalink="https://healthroads.net/2019/01/06/zeal-for-life-canister-for-39-95-free-shipping/blst/" data-orig-file="https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg" data-orig-size="960,960" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;0&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;0&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;0&quot;,&quot;iso&quot;:&quot;0&quot;,&quot;shutter_speed&quot;:&quot;0&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="blst" data-image-description="" data-medium-file="https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=300" data-large-file="https://zealforlifeproductsdotcom1.files.wordpress.com/2019/01/blst.jpg?w=547" width="155" height="110">           </a>
        </div>
    </div><!-- .featured-image -->
        <h2><a href="https://healthroads.net/2019/01/06/zeal-for-life-canister-for-39-95-free-shipping/" rel="bookmark">Zeal For Life Canister for $39.95 + FREE SHIPPING!</a></h2>
        <p>Get your Zeal Nutritional drink for $39.95 + FREE SHIPPING!</p>
    <div class="time">
                    January 6, 2019                         · <a href="https://healthroads.net/2019/01/06/zeal-for-life-canister-for-39-95-free-shipping/#comments">5 Comments</a>                  </div><!-- .time -->
</div>
    </div>


    <div class="col-md-6 " style = "margin-top:1% ;" >
        <iframe width="100%" height="550px" src="https://www.youtube.com/embed/lcp6OowLQEA?start=30 ?autoplay=1&showinfo=0&controls=0" frameborder="0" allowfullscreen > </iframe>
    </div>

    <div class = "col-md-3" style = "margin-top:1% ;" >
        <iframe src="https://healthfinder.gov/espanol/miBuscadorDeSalud/widget/" name="myhealthfinderframe" frameborder="0" id="myhealthfinderframe" scrolling="yes" height="485" width="80%" marginheight="0" title="miBuscadorDeSalud widget" marginwidth="0">
        </iframe>
    </div>

</div>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class = "container" style = "margin-top: 10%" >
<script src="https://apps.elfsight.com/p/platform.js"data-turbolinks-permanent>

</script>
 <div class="elfsight-app-387ab003-542a-4beb-aaa0-0d17937f228c">
    </div>



<!-- Secciones -->

<body>
    <section id="services_2">
        <div class="indent_1000">
            <ul class="services_2">
                <div class="row">
                    <li class="test col-sm-4">
                        <figure class="testimonial-thumb">
                            <%= link_to image_tag "f_mes.jpg" , class: "img"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">
                                La Familia Del Mes
                            </h3>
                        </aside>
                    </li>
                    <li class="test col-xs-12 col-sm-4">
                        <figure class=" testimonial-thumb">
                            <%= link_to image_tag "mejores_padres.jpg" , class: "img"%>
                            
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">Escuela Para Mejores Padres</h3>

                        </aside>
                    </li>
                    <li class="test col-xs-12 col-sm-4">
                        <figure class="testimonial-thumb">
                           <%= link_to image_tag "intimidad.jpg" , class: "img"%>
                        </figure>
                        <aside class="testimonial-text">
                            <h3 class="testimonial-title text-center">En Intimidad Con La Pareja</h3>

                        </aside>
                    </li>
                </div>
            </ul>
        </div>
    </section> 
</body> 


<!-- Team -->
<section id="team" class="pb-12" style = "margin-top: 8%">
    <div class="container">
        <h5 class="section-title h1">Equipo De Orientacion Familiar</h5>
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><div alt="card image"> <%= link_to image_tag "yaniris_photo.jpg" , class:" team_photo"  %></div></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
             <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><div alt="card image"> <%= link_to image_tag "joseGil.jpg" , class:" team_photo"  %></div></p>
                                    <h4 class="card-title">Dr.Jose Gil Abreu</h4>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">
Jose Gil Abreu nacido en la Republica Dominicana. Curso sus
estudios basicos en el pais caribeno. Recibio su formacion univer
sitatia en su patria que lo vio nacer y en los Estados Unidos. Ha
recidido en los EU los ultimos quince anos de su vida. Es Psicologo,
terapeuta individual, de pareja, familiar, de grupo, educador, profesor universitario, comunicador, conferencista, musico y productor radial y televisivo.
.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-4 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><div alt="card image"> <%= link_to image_tag "angela_photo.jpg" , class:" team_photo"  %></div></p>
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.</p>
                                    <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sunlimetech</h4>
                                    <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-skype"></i>
                                            </a>
                                        </li>
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="#">
                                                <i class="fa fa-google"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Team -->